@import "../../theme";


.container-all{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 90vh;
    height: auto;

.logo{
    text-align: center;
}

.span{
    color: $primary-900;
}

.titleInput{
    width: 100%;
    text-align: start;
}

button{
    margin: 2rem 0;
}

h6{
    width: 100%;
    text-align: start;
}
}