.conteiner {
    justify-content: space-between;
    text-align: center;
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.452);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.616);
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
    a {
        color: inherit;
        text-decoration: none;
    }
}

.cont {
    align-items: center;
    padding: 0.5rem;
    
}

.conteinerMobile{
    background: rgba(255, 255, 255, 0.452);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.616);
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
}
