.containerCard{
    padding: 1.5rem;
    width: 130px;
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(19, 15, 15, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);

    h4{
        font-weight: bold;
        text-align: center;
    }

    p{
        font-size: 10pt;
        color: gray;
        text-align: center;
    }

    h5{
        text-align: center;
        font-weight: bold;
    }

    transition: 0.3s all ease;

    a {
        color: inherit;
        text-decoration: none;
        
    }

}

.containerCard:hover{
    opacity: 0.6;
    cursor: pointer;
}



